.container_dash--form {
  margin: 0 auto;
  padding: 1rem;
  border: 1px solid var(--Grey-2);

  height: 270px;
  width: 90%;

  display: flex;
  flex-direction: column;
}

.description_label {
  padding: 0 0 0.625rem 0.1rem;
  font: var(--body-2);
}

.description_label:focus {
  border: 2px solid var(--Grey-4);
}

.description_input {
  border: none;
  padding-inline: 1rem;

  height: 40px;
  width: 100%;

  background-color: var(--Grey-1);
}

.description_exemplo {
  margin-top: 4px;
  font: var(--body-2);
}

.box_finantion-data {
  margin: 10px auto;

  display: flex;
  gap: 4rem;
}

.box_finantion-data > div > label {
  margin-bottom: 9px;
  font: var(--body-2);
}

.box_howmuch,
.box_typevalue {
  display: flex;
  flex-direction: column;
}

.box_howmuch {
  position: relative;
}

input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
}
input[type="number"] {
  -moz-appearance: textfield;
  appearance: textfield;
}

.box_howmuch > img {
  height: 20px;
  position: absolute;
  top: 55%;
  left: 67%;
}

.box_howmuch--input {
  border: none;
  border-radius: var(--btn-radius);

  padding-inline: 15px;

  height: 48px;
  width: 120px;

  background-color: var(--Grey-1);
}

.box_typevalue--select {
  border: none;
  border-radius: var(--btn-radius);
  padding-inline: 1rem;

  height: 40px;
  width: 150px;

  background-color: var(--Grey-1);
}

.btn_form {
  border: none;
  border-radius: var(--btn-radius);

  height: 48px;
  width: 100%;

  color: white;

  background-color: var(--Color-primary);
}

@media (min-width: 720px) {
  .container_dash--form {
    width: 100%;
  }

  .description_input,
  .box_howmuch--input,
  .box_typevalue--select {
    border-radius: var(--btn-radius);
  }

  .description_input:focus {
    border: 1.2px solid var(--Grey-4);
    border-radius: var(--btn-radius);
  }
  .box_howmuch--input:focus {
    border: 1.2px solid var(--Grey-4);
    border-radius: var(--btn-radius);
  }
  .box_typevalue--select:focus {
    border: 1.2px solid var(--Grey-4);
    border-radius: var(--btn-radius);
  }

  .btn_form:hover {
    background-color: var(--Color-primary-2);
    cursor: pointer;
  }

  .btn_logout:hover {
    cursor: pointer;
    background-color: var(--Grey-3);
    color: white;
  }
}
