@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap");

:root {
  /* Primary Palette */
  --Color-primary: #fd377e;
  --Color-primary-2: #e34981;
  --Color-Secondary: #03b898;

  /* Grey Scale Palette */
  --Grey-1: #f8f9fa;
  --Grey-2: #e9ecef;
  --Grey-3: #868e96;
  --Grey-4: #212529;

  /* Typography */
  --title-1: 700 2.375rem Nunito, "sans-serif";
  --Title-2: 700 1.375rem Nunito, "sans-serif";
  --Title-3: 700 1rem Nunito, "sans-serif";
  --Title-4: 700 0.75rem Nunito, "sans-serif";
  --headline: 400 1rem Nunito, "sans-serif";
  --body: 400 0.75rem Nunito, "sans-serif";
  --body-2: 400 0.75rem Inter, "sans-serif";

  /* buttons */
  --btn-radius: 0.5rem;
}
