.container_middle--btn {
  width: 100%;
  height: 40px;

  border: none;
  border-radius: 8px;

  margin-top: 15px;

  color: white;
  background-color: var(--Color-primary);
}

@media (min-width: 720px) {
  .container_middle--btn {
    width: 69%;
    height: 50px;
  }
}
